<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>새 파티 열기</title>
  </head>
  <body>
    <h1>새 파티 열기</h1>
    타이틀: <input type="text" id="title" /> 설명:
    <input type="text" id="description" /> 날짜
    <input type="date" id="date" /> 시작 시간:
    <input type="time" id="startTime" /> 종료 시간:
    <input type="time" id="endTime" /> 태그: <br />
    <button type="button" name="tags" role="checkbox" aria-checked="false">
      술파티
    </button>
    <button type="button" name="tags" role="checkbox" aria-checked="false">
      커피모임
    </button>
    <script>
        const tags = document.getElementsByName("tags");
        tags.addEventLister("click", )
    </script>
  </body>
</html>
