<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>새 파티 열기</title>
  </head>
  <body>
    <h1>새 파티 열기</h1>
    <form onsubmit="postParty(event)">
      타이틀: <input type="text" id="title" /><br />
      설명:
      <input type="text" id="description" /> <br />
      날짜
      <input type="date" id="date" /> <br />
      시작 시간:
      <input type="time" id="startTime" /> 종료 시간:
      <input type="time" id="endTime" /><br />
      태그:
      <button type="button" name="tags" role="checkbox" aria-checked="false">
        술파티
      </button>
      <button type="button" name="tags" role="checkbox" aria-checked="false">
        커피모임</button
      ><br />
      규칙:
      <button type="button" name="randa" role="checkbox" aria-checked="false">
        술
      </button>
      <button type="button" name="randa" role="checkbox" aria-checked="false">
        흡연</button
      ><br />
      시설:
      <button type="button" name="randa" role="checkbox" aria-checked="false">
        TV
      </button>
      <button type="button" name="randa" role="checkbox" aria-checked="false">
        전자레인지
      </button>
      <button type="button" name="randa" role="checkbox" aria-checked="false">
        에어프라이어
      </button>

      <br />
      <br />

      <button type="submit">작성 완료</button>
    </form>
    <br />
    사진을 올려보세요
    <form onsubmit="fileupload(event)">
      <input type="file" id="pictures" multiple /><br />
      <button type="submit">업로드</button>
    </form>
    <br />
    사진 미리보기:
    <div class="result"></div>

    <script>
      //태그 클릭시 On/Off 토글
      const buttons = document.querySelectorAll(
        'button[name="tags"], button[name="randa"]'
      );
      buttons.forEach((button) => {
        button.addEventListener("click", () => {
          if (button.getAttribute("aria-checked") === "true") {
            button.setAttribute("aria-checked", "false");
          } else {
            button.setAttribute("aria-checked", "true");
          }
        });
      });

      //게시글 업로드
      async function postParty(e) {
        e.preventDefault();
        try {
          const result = await axios({
            method: "POST",
            url: "/parties/host",
            data: {
              party_num: 1,
              title: document.querySelector("#title").value,
              description: document.querySelector("#description").value,
              date: document.querySelector("#date").value,
              startTime: document.querySelector("#startTime").value,
              endTime: document.querySelector("#endTime").value,
            },
          });
          console.log("result: ", result);
        } catch (error) {
          console.log(error);
        }
      }

      // //파일 업로드
      // const resultBox = document.querySelector(".result");
      // async function fileupload(e) {
      //   e.preventDefault();
      //   //파일에 접근
      //   const file = document.querySelector("#files");
      //   console.log(file.files);
      //   //폼 데이터 생성
      //   const formData = new FormData();
      //   //파일이 여러개이므로 반복문을 사용
      //   for (let i = 0; i < file.files.length; i++) {
      //     formData.append("files", file.files[i]);
      //   }

      //   try {
      //     const res = await axios({
      //       method: "POST",
      //       url: "/upload",
      //       data: formData,
      //       headers: {
      //         "Content-Type": "multipart/form-data",
      //       },
      //     });
      //     console.log("res");
      //     res.data.forEach((elem) => {
      //       resultBox.innerHTML += `<img src="${elem.path}" style="width:500px">`;
      //       // const img = document.createElement("img");
      //       // img.src = elem.location; //aws는 location!!
      //       // img.style.width = "500px";
      //       resultBox.appendChild(img);
      //     });
      //   } catch (error) {
      //     console.log(error);
      //   }
      // }
    </script>
  </body>
</html>
