<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Covered+By+Your+Grace&family=Fasthand&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>

    <link rel="stylesheet" href="/public/css/login.css" />
  </head>
  <body>
    <div class="topBar">
      <a class="howsParty" href="/main"> How's Party </a
      ><a class="signin" href="/signin">login</a>
    </div>
    <div class="logo">How's Party</div>

    <input type="text" name="id" id="id" class="id" placeholder="아이디" />
    <input
      type="password"
      name="pw"
      id="pw"
      class="pw"
      placeholder="비밀번호"
    />

    <button type="button" class="loginButton" onclick="login(event)">
      로그인
    </button>
    <a href="/signup1" class="signup">회원가입</a>
    <a href="/find" class="find">아이디/비밀번호 찾기</a>
    <script>
      function login(e) {
        e.preventDefault(); //기본 제출 멈춤

        axios({
          method: "POST",
          url: "/signin",
          data: {
            id: document.querySelector("#id").value,
            pw: document.querySelector("#pw").value,
          },
        }).then((res) => {
          console.log(res);
          if (res.data.result) {
            alert(`로그인 성공`);
          } else {
            alert(`로그인 실패`);
            document.location.reload();
          }
        });
      }
    </script>
  </body>
</html>
