<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/public/css/main.css" />
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.3/examples/album/"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="topBar">
      <a class="howsParty" href="/main"> How's Party </a
      ><a class="signin" href="/login">login</a>
    </div>
    <img src="/public/img/mainhome.png" alt="home image" class="mainHome" />
    <div class="bottombar">
      <div class="leftBottomBar">
        <a href="/parties" class="a">
          <div class="select">
            <img src="/public/img/parties.svg" class="selectimg" />
            <span class="bottom partiesName"> 목록 </span>
          </div></a
        >
        <a href="/location" class="a">
          <div class="select">
            <img src="/public/img/map.svg" class="selectimg" />
            <span class="bottom locationName"> 지도 </span>
          </div></a
        >
      </div>
      <a href="/main" class="logo">
        <button class="logo">H</button>
      </a>
      <div class="rightBottomBar">
        <a href="/chat" class="a">
          <div class="select">
            <img src="/public/img/chat.svg" class="selectimg" />
            <span class="bottom chatName"> 채팅 </span>
          </div></a
        >
        <a href="/profile" class="a">
          <div class="select">
            <img src="/public/img/profile.svg" class="selectimg" />
            <span class="bottom profileName"> 마이페이지 </span>
          </div></a
        >
      </div>
    </div>
    <h1>MVC</h1>
    <a href="/signin">로그인페이지</a>
    <a href="/signup">회원가입페이지</a>

    <script>
      (function () {
        let result1 = "";
        const local = sessionStorage.getItem("token");
        console.log(local);
        const currentUrl = window.location.href;
        console.log(currentUrl);
        if (local != null) {
          axios({
            method: "post",
            url: `/verify`,
            data: {
              token: local,
            },
          }).then((result) => {
            result1 = result;
            console.log(result1.data.user.id);
          });
        } else {
          console.log("로그인 실패");
        }
      })();
    </script>
  </body>
</html>
