<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>파티 상세페이지</title>
  </head>
  <body>
    <h1>파티 상세페이지</h1>
    파티 제목: <%= party.title %>
    <br />
    설명: <%= party.description %>
    <br />파티 날짜: <%= party.date %> <br />

    파티 시설:
    <ul>
      <% party.amenities.forEach((amenity) => { %>
      <li><%= amenity.amen_name %></li>
      <% }); %>
    </ul>

    <script></script>
  </body>
</html>
