<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>profile</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <link rel="stylesheet" href="../public/css/profile.css" />
  </head>
  <body>
    <div class="container">
      <%- include('./static/topBar') %>

      <span id="profile2_title">회원 정보</span>
      <form name="editProfile" enctype="multipart/form-data">
        <div class="img">
          <div id="imagePreview">
            <img id="preview" src="" class="preview" />
          </div>

          <input
            type="file"
            id="imageInput"
            accept="image/*"
            style="display: none"
            onchange="previewImage(this)"
            readonly
          />
        </div>
        <br />
        <div class="top">
          <div class="nameBox">
            <img src="/public/img/id.svg" />
            <span type="text" id="name" class="name"></span>
          </div>
          <div class="birthBox">
            <img src="/public/img/birth.svg" />
            <span type="date" id="birth" class="birth"> </span>
          </div>
          <div class="gender">
            <input
              type="radio"
              name="gender"
              id="man"
              class="man"
              readonly
              vlaue="남자"
            /><label for="man" id="manLabel">남자</label>
            <input
              type="radio"
              name="gender"
              id="woman"
              class="woman"
              readonly
              vvalue="여자"
            /><label for="woman" id="womanLabel">여자</label>
          </div>
          <div class="phoneBox">
            <img src="/public/img/phone.svg" />
            <span type="text" id="phone_number" class="phoneNumber"></span>
          </div>
          <div class="emailBox">
            <img src="/public/img/email.svg" class="emailImg" />
            <span type="text" id="email" class="email"></span>
          </div>
          <div class="selectedAddress">
            <img src="/public/img/map.svg" class="addressImg" />
            <span type="text" id="displayAddress" class="displayAddress"></span>
          </div>
        </div>
      </form>
      <div class="buttons">
        <button
          type="button"
          id="editBtn"
          class="nextButton"
          onclick="editProfileFunc()"
        >
          프로필 수정
        </button>
        <br />
        <button
          type="button"
          id="editBtn"
          class="nextButton"
          onclick="editHobbyFunc()"
        >
          관심사 수정
        </button>
        <br />
        <button
          type="button"
          id="editBtn"
          class="nextButton"
          onclick="editPWFunc()"
        >
          비밀번호 변경
        </button>
      </div>
    </div>

    <script>
      let user;
      // get
      const token = sessionStorage.getItem("token");
      console.log("token", token);
      if (!token) {
        alert("로그인을 먼저 하세요.");
        window.location.href = "/signin";
      } else {
        window.onload = function getUser() {
          axios({
            method: "GET",
            params: { token: token },
            url: "profile/info",
          })
            .then((res) => {
              console.log("res");
              user = res.data.user;
              console.log("user", user);

              pushProfile();
            })
            .catch((err) => {
              console.error("Error", err);
            });
        };
      }
      // 이미지 미리보기
      function previewImage(input) {
        const preview = document.getElementById("preview");
        const imagePreview = document.getElementById("imagePreview");

        if (input.files && input.files[0]) {
          const reader = new FileReader();
          console.log("이미지 미리보기 실행");

          reader.onload = function (e) {
            // 선택한 이미지를 미리보기로 표시합니다.
            preview.src = e.target.result;
            imagePreview.style.backgroundColor = "transparent"; // 빈 원의 배경색을 투명하게 설정합니다.
          };

          reader.readAsDataURL(input.files[0]);
        } else {
          // 이미지를 선택하지 않았을 때 빈 원을 원래대로 채웁니다.
          imagePreview.style.backgroundColor = "#ccc";
          preview.src = ""; // 이미지 미리보기 초기화
        }
      }

      // -------- input 태그에 정보 넣기 -------------
      async function pushProfile() {
        // user 데이터가 존재하는지 확인
        if (user) {
          // 사용자 데이터에서 필요한 정보 추출
          const { name, birth, gender, phone_number, email, location, imgURL } =
            user;

          // 각 input 요소에 사용자 데이터 설정
          document.getElementById("name").textContent = name || ""; // 이름
          document.getElementById("birth").textContent = birth || ""; // 생년월일
          // 성별 설정
          if (gender === "남자") {
            manLabel.classList.add("man-selected");
            womanLabel.classList.remove("woman-selected");
          } else if (gender === "여자") {
            womanLabel.classList.add("woman-selected");
            manLabel.classList.remove("man-selected");
          }
          document.getElementById("phone_number").textContent =
            phone_number || ""; // 전화번호
          document.getElementById("email").textContent = email || ""; // 이메일
          document.getElementById("displayAddress").textContent = location;
          document.getElementById("preview").src = imgURL;
        }
      }

      function editProfileFunc() {
        location.href = "/profile2";
      }
      function editPWFunc() {
        location.href = "/profile1";
      }
      function editHobbyFunc() {
        location.href = "/profile4";
      }
    </script>
  </body>
</html>
