<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/search.css" />
  </head>
  <body>
    <div class="container">
      <div class="topBar">
        <a class="howsParty" href="/main"> How's Party </a
        ><a class="signin" href="/signin">login</a>
      </div>

      <form>
        <h3>아이디 찾기</h3>
        <div class="findID">
          <div>
            <img src="/public/img/user.svg" alt="" />
            <input type="text" placeholder="이름" />
          </div>
          <div>
            <img src="/public/img/birth.svg" alt="" />
            <input type="text" placeholder="생년월일" />
          </div>
          <div class="lastDiv">
            <img src="/public/img/phone.svg" alt="" />
            <input type="text" placeholder="휴대전화번호" />
          </div>
        </div>
        <button type="button" onclick="searchID()">찾기</button>
        <div class="result ID"></div>
      </form>

      <form>
        <h3>비밀번호 찾기</h3>
        <div class="findPW">
          <div>
            <img src="/public/img/user.svg" alt="" />
            <input type="text" placeholder="아이디" />
          </div>
          <div>
            <img src="/public/img/birth.svg" alt="" />
            <input type="text" placeholder="생년월일" />
          </div>
          <div>
            <img src="/public/img/user.svg" alt="" />

            <input type="text" placeholder="이름" />
          </div>
          <div class="lastDiv">
            <img src="/public/img/phone.svg" alt="" />

            <input type="text" placeholder="휴대전화번호" />
          </div>
        </div>
        <button type="button" onclick="searchPW()">찾기</button>
        <div class="result PW"></div>
      </form>
    </div>
  </body>
</html>
