<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Covered+By+Your+Grace&family=Fasthand&display=swap"
      rel="stylesheet"
    />
    <title>로그인</title>
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="https://cdn-icons-png.flaticon.com/512/1395/1395020.png"
    />
  </head>
  <body>
    <%- include('./static/topBar') %>
    <link rel="stylesheet" href="/public/css/signin.css" />
    <div class="container">
      <!-- 
    <form onsubmit="login(event)">
      <input type="text" id="userid" placeholder="ID" /><br />
      <input type="password" id="pw" placeholder="PW" /><br />
      <button type="submit">로그인</button>
    </form> -->

      <form onsubmit="login(event)" class="form">
        <div class="top">
          <div class="idBox">
            <img src="/public/img/id.svg" style="margin-right: 15px" />
            <input
              type="text"
              name="id"
              id="userid"
              class="id"
              placeholder="아이디"
            />
          </div>
          <div class="pwBox">
            <img src="/public/img/pw.svg" style="margin-right: 15px" />
            <input
              type="password"
              name="pw"
              id="pw"
              class="pw"
              placeholder="비밀번호"
            />
          </div>
        </div>
        <button type="submit" class="loginButton">로그인</button>
        <a href="/signup" class="signup">회원가입</a>
        <a href="/find" class="find">아이디/비밀번호 찾기</a>
      </form>
    </div>
    <script>
      function login(e) {
        e.preventDefault(); //기본 제출 멈춤

        axios({
          method: "POST",
          url: "/signin",
          data: {
            id: document.querySelector("#userid").value,
            pw: document.querySelector("#pw").value,
          },
        }).then((res) => {
          console.log(res);
          if (res.data.result) {
            alert(`로그인 성공`);
            sessionStorage.setItem("token", res.data.token);
            location.href = "/main";
          } else {
            alert(`로그인 실패`);
            document.location.reload();
          }
        });
      }
    </script>
  </body>
</html>
