<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/signup1.css" />
  </head>

  <body>
    <div class="container">
      <div class="topBar">
        <a class="howsParty" href="/main"> How's Party </a
        ><a class="signin" href="/signin">login</a>
      </div>

      <span id="signup1_title"> 회원가입 </span>

      <div class="top">
        <div class="idBox">
          <img src="/public/img/id.svg" />
          <input
            type="text"
            name="id"
            id="id"
            class="id"
            placeholder="아이디"
          />
        </div>
        <div class="pwBox">
          <img src="/public/img/pw.svg" />
          <input
            type="password"
            name="pw"
            id="pw"
            class="pw"
            placeholder="비밀번호"
          />
        </div>
        <div class="pwCheckBox">
          <img src="/public/img/pw.svg" />
          <input
            type="password"
            name="pwCheck"
            id="pwCheck"
            class="pwCheck"
            placeholder="비밀번호 확인"
          />
        </div>
        <br />
      </div>

      <div class="bottom">
        <div class="nameBox">
          <img src="/public/img/id.svg" />
          <input
            type="text"
            name="name"
            id="name"
            class="name"
            placeholder="이름"
          />
        </div>
        <div class="birthBox">
          <img src="/public/img/birth.svg" />
          <input
            type="date"
            name="birth"
            id="birth"
            class="birth"
            placeholder="생년월일"
          />
        </div>
        <div class="gender">
          <input type="radio" name="gender" id="man" class="man" value="남자" />
          <label for="man" id="manLabel">남자</label>
          <input
            type="radio"
            name="gender"
            id="woman"
            class="woman"
            value="여자"
          />
          <label for="woman" id="womanLabel">여자</label>
        </div>
        <div class="phoneBox">
          <img src="/public/img/phone.svg" />
          <input
            type="number"
            name="phoneNumber"
            id="phoneNumber"
            class="phoneNumber"
            placeholder="휴대전화 번호"
          />
        </div>
      </div>

      <button type="button" id="nextButton" class="nextButton">다음</button>
    </div>
  </body>
  <script>
    // 성별 라디오
    const manRadio = document.getElementById("man");
    const womanRadio = document.getElementById("woman");
    const manLabel = document.querySelector('label[for="man"]');
    const womanLabel = document.querySelector('label[for="woman"]');

    manRadio.addEventListener("change", function () {
      if (manRadio.checked) {
        manLabel.classList.add("man-selected");
        womanLabel.classList.remove("woman-selected");
        console.log("man checked");
      } else {
        manLabel.classList.remove("man-selected");
      }
    });

    womanRadio.addEventListener("change", function () {
      if (womanRadio.checked) {
        womanLabel.classList.add("woman-selected");
        manLabel.classList.remove("man-selected");
        console.log("woman checked");
      } else {
        womanLabel.classList.remove("woman-selected");
      }
    });
    // 다음 버튼
    document
      .getElementById("nextButton")
      .addEventListener("click", function () {
        window.location.href = "/signup2"; // 페이지 이동
      });
  </script>
</html>
