<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center; /* 수직 가운데 정렬 */
        justify-content: center; /* 수평 가운데 정렬 */
        margin: 0;
        background-color: #ffffff; /* 배경색을 추가하거나 필요에 따라 변경하세요. */
      }
      .topBar {
        width: 360px;
        padding: 14px 0 0;
        background-color: #fff;
        position: fixed;
        z-index: 1000;
        top: 0;
      }
      .howsParty {
        width: 85px;
        height: 27px;
        margin: 0 165px 12px 15px;
        font-family: Inter;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #bf2c47;
        text-decoration: none;
      }
      .container {
        display: flex; /* 자식 요소들을 가로로 나란히 배치하기 위해 flex 사용 */
        justify-content: space-between; /* 자식 요소들 사이의 간격을 최대로 설정 */
        width: 300px; /* 부모 요소 너비에 따라 가로로 나란히 정렬 */
        margin-top: 60px; /* 상단 여백 추가 */
        padding: 0 15px; /* 왼쪽 오른쪽 여백 추가 */
      }

      .icon {
        display: flex;
        width: 53px;
        height: 53px;
        padding: 11px 13px 11.3px 10px;
        background-color: #eeeeee;
        justify-content: center;
        border-radius: 50px;
        align-items: center;
      }
      .select {
        width: 75px;
        border: none;
        background-color: white;
        font-size: 15px;
        text-align: center;
        cursor: pointer;
        outline: none;
      }
      .select.active .icon {
        background-color: #bf2c47;
      }
      .nextButton {
        width: 270px;
        flex-grow: 0;
        margin: 35px 39px 10px 48px;
        padding: 15px 15px 15px 15px;
        border-radius: 10px;
        border: solid 1px #fff;
        background-color: #bf2c47;
        color: white;
      }
      img {
        width: 40px;
        height: 40px;
      }
      .choose {
        background-color: #ffffff00;
        border-color: #ffffff00;
      }
    </style>
  </head>
  <body>
    <div class="topBar">
      <a class="howsParty" href="/main"> How's Party </a>
    </div>
    <div class="container">
      <div class="select travel" id="travelSelect">
        <div class="icon travel">
          <img src="/public/img/travel.svg" />
        </div>
        <button class="choose">여행</button>
      </div>
      <div class="select alchol" id="alcholSelect">
        <div class="icon alchol">
          <img src="/public/img/alchol.svg" />
        </div>
        <button class="choose">술</button>
      </div>
      <div class="select pajamas" id="pajamasSelect">
        <div class="icon pajamas">
          <img src="/public/img/pajamas.svg" />
        </div>
        <button class="choose">파자마</button>
      </div>
    </div>

    <div class="container">
      <div class="select game" id="gameSelect">
        <div class="icon game">
          <img src="/public/img/game.svg" />
        </div>
        <button class="choose">게임</button>
      </div>
      <div class="select pet" id="petSelect">
        <div class="icon pet">
          <img src="/public/img/pet.svg" />
        </div>
        <button class="choose">애완동물</button>
      </div>
      <div class="select sports" id="sportsSelect">
        <div class="icon sports">
          <img src="/public/img/sports.svg" />
        </div>
        <button class="choose">운동</button>
      </div>
    </div>
    <div class="container">
      <div class="select music" id="musicSelect">
        <div class="icon music">
          <img src="/public/img/music.svg" />
        </div>
        <button class="choose">음악</button>
      </div>
      <div class="select cook" id="cookSelect">
        <div class="icon cook">
          <img src="/public/img/cook.svg" />
        </div>
        <button class="choose">요리</button>
      </div>
      <div class="select photo" id="photoSelect">
        <div class="icon photo">
          <img src="/public/img/photo.svg" />
        </div>
        <button class="choose">사진</button>
      </div>
    </div>
    <button type="button" id="nextButton" class="nextButton">다음</button>
    <script>
      // 모든 select 요소에 대한 이벤트 리스너를 추가.
      const selectElements = document.querySelectorAll(".select");

      selectElements.forEach((select) => {
        select.addEventListener("click", () => {
          select.classList.toggle("active");
        });
      });

      document
        .getElementById("nextButton")
        .addEventListener("click", function () {
          window.location.href = "/signup2"; // 페이지 이동
        });
    </script>
  </body>
</html>
