<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        align-items: center; /* 수직 가운데 정렬 */
        justify-content: center; /* 수평 가운데 정렬 */
        margin: 0;
        background-color: #ffffff; /* 배경색을 추가하거나 필요에 따라 변경하세요. */
      }
      .topBar {
        width: 360px;
        padding: 14px 0 0;
        background-color: #fff;
        position: fixed;
        z-index: 1000;
        top: 0;
      }
      .howsParty {
        width: 85px;
        height: 27px;
        margin: 0 165px 12px 15px;
        font-family: Inter;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #bf2c47;
        text-decoration: none;
      }
      .container {
        display: flex; /* 자식 요소들을 가로로 나란히 배치하기 위해 flex 사용 */
        justify-content: space-between; /* 자식 요소들 사이의 간격을 최대로 설정 */
        width: 300px; /* 부모 요소 너비에 따라 가로로 나란히 정렬 */
        margin-top: 60px; /* 상단 여백 추가 */
        padding: 0 15px; /* 왼쪽 오른쪽 여백 추가 */
      }
      .container1 {
        display: flex;
        justify-content: space-evenly;
        width: 400px;
        padding: 0 15px;
        margin-top: 5px;
      }
      .icon {
        width: 53px;
        height: 53px;
        padding: 11px 13px 11.3px 10px;
        background-color: #eeeeee;
        border-radius: 50px;
      }
      .select {
        width: 75px;
        border: 0;
        background-color: white;
        font-size: 15px;
        text-align: center;
      }
      .nextButton {
        width: 270px;
        flex-grow: 0;
        margin: 35px 39px 10px 48px;
        padding: 15px 15px 15px 15px;
        border-radius: 10px;
        border: solid 1px #fff;
        background-color: #bf2c47;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="topBar">
      <a class="howsParty" href="/main"> How's Party </a>
    </div>
    <div class="container">
      <div class="icon travel">
        <img src="/houseparty/image/travel.png" />
      </div>
      <div class="icon alchol">
        <img src="/houseparty/image/alchol.png" />
      </div>
      <div class="icon pajamas">
        <img src="/houseparty/image/pajamas.png" />
      </div>
    </div>

    <div class="container1">
      <button class="select travel">여행</button>
      <button class="select alchol">술</button>
      <button class="select pajamas">파자마</button>
    </div>

    <div class="container">
      <div class="icon game">
        <img src="/houseparty/image/game.png" />
      </div>
      <div class="icon pet">
        <img src="/houseparty/image/pet.png" />
      </div>
      <div class="icon sports">
        <img src="/houseparty/image/sports.png" />
      </div>
    </div>
    <div class="container1">
      <button class="select game">게임</button>
      <button class="select pet">애완동물</button>
      <button class="select sports">운동</button>
    </div>
    <div class="container">
      <div class="icon music">
        <img src="/houseparty/image/music.png" />
      </div>
      <div class="icon cook">
        <img src="/houseparty/image/cook.png" />
      </div>
      <div class="icon photo">
        <img src="/houseparty/image/photo.png" />
      </div>
    </div>
    <div class="container1">
      <button class="select music">음악</button>
      <button class="select cook">요리</button>
      <button class="select photo">사진</button>
    </div>
    <button type="button" id="nextButton" class="nextButton">다음</button>
    <script>
      document
        .getElementById("nextButton")
        .addEventListener("click", function () {
          window.location.href = "/signup2"; // 페이지 이동
        });
    </script>
  </body>
</html>
