/* 모바일환경 */
@media screen and (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
    margin: 0;
    background-color: #ffffff; /* 배경색을 추가하거나 필요에 따라 변경하세요. */
  }

  .topBar {
    width: 360px;
    padding: 14px 0 0;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    top: 0;
  }
  .howsParty {
    width: 85px;
    height: 27px;
    margin: 0 165px 12px 15px;
    font-family: Inter;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #bf2c47;
    text-decoration: none;
  }
  .signin {
    width: 85px;
    height: 27px;
    position: absolute;
    font-family: Inter;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    text-decoration: none;
  }
}
/* 웹환경 */
@media screen and (min-width: 800px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
    background-color: #ffffff;
    min-height: 100vh;
  }

  .topBar {
    width: 100%;
    padding: 14px 0;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between; /* 양쪽 끝으로 정렬 */
  }
  .howsParty {
    margin: 0 15px 12px; /* 여백 조정 */
    font-family: Inter;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #bf2c47;
    text-decoration: none;
  }
  .signin {
    width: 85px;
    margin: 0 15px 12px; /* 여백 조정 */
    font-family: Inter;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    text-decoration: none;
  }
}

.selected-tags {
  background-color: gray;
}
.selected-amenities {
  background-color: gray;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none;
}
