@media screen and (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
    margin: 0;
    background-color: #ffffff; /* 배경색을 추가하거나 필요에 따라 변경하세요. */
  }

  .mainHome {
    width: 360px;
    height: 437px;
    margin: 49px 0 -45px;
    object-fit: contain;
    content: url("/public/img/mainhome.png");
  }
  .topBar {
    width: 360px;
    padding: 14px 0 0;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    top: 0;
  }
  .howsParty {
    width: 85px;
    height: 27px;
    margin: 0 165px 12px 15px;
    font-family: Inter;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #bf2c47;
    text-decoration: none;
  }
  .signin {
    width: 85px;
    height: 27px;
    position: absolute;
    font-family: Inter;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    text-decoration: none;
  }

  .bottombar {
    display: flex; /* 자식 요소들을 가로로 나란히 배치하기 위해 flex 사용 */
    width: 360px; /* 부모 요소의 너비에 따라 자식 요소들을 가로로 나란히 정렬 */
    justify-content: center;
  }

  .leftBottomBar,
  .rightBottomBar {
    flex-grow: 1; /* 각 요소를 동일한 너비로 확장합니다. */
    height: 44px;
    backdrop-filter: blur(4px);
    border: solid 1px #000;
    background-color: #fff;
    display: flex;
    align-items: center; /* 내부 내용을 세로로 가운데 정렬합니다. */
    justify-content: space-evenly;
  }

  .leftBottomBar {
    border-radius: 0 45px 0 0;
    width: 70px;
  }

  .rightBottomBar {
    border-radius: 45px 0 0 0;
  }

  .logo {
    width: 40px;
    height: 40px;
    background-color: #bf2c47;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    border-color: #ffffff00;
    color: white;
  }
  .a {
    text-decoration: none;
  }
  .bottom {
    font-size: 10px;
  }
  .select {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .selectimg {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
    background-color: #ffffff;
    min-height: 100vh;
  }
  .mainHome {
    width: 100%; /* 부모 요소에 꽉 차도록 설정 */
    height: auto; /* 이미지 비율 유지 */
    content: url("/public/img/mainhome2.svg");
  }
  .topBar {
    width: 100%;
    padding: 14px 0;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between; /* 양쪽 끝으로 정렬 */
  }
  .howsParty {
    margin: 0 15px 12px; /* 여백 조정 */
    font-family: Inter;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #bf2c47;
    text-decoration: none;
  }
  .signin {
    width: 85px;
    margin: 0 15px 12px; /* 여백 조정 */
    font-family: Inter;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    text-decoration: none;
  }

  .bottombar {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .leftBottomBar,
  .rightBottomBar {
    flex-grow: 1; /* 각 요소를 동일한 너비로 확장합니다. */
    height: 44px;
    backdrop-filter: blur(4px);
    border: solid 1px #000;
    background-color: #fff;
    display: flex;
    align-items: center; /* 내부 내용을 세로로 가운데 정렬합니다. */
    justify-content: space-evenly;
  }

  .leftBottomBar {
    border-radius: 0 45px 0 0;
    width: 70px;
  }

  .rightBottomBar {
    border-radius: 45px 0 0 0;
  }

  .logo {
    width: 60px;
    height: 60px;
    background-color: #bf2c47;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    border-color: #ffffff00;
    color: white;
    font-size: 25px;
  }
  .a {
    text-decoration: none;
  }
  .bottom {
    font-size: 10px;
  }
  .select {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .selectimg {
    width: 20px;
    height: 20px;
  }
}
