@media screen and (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
    margin: 0;
    background-color: #ffffff; /* 배경색을 추가하거나 필요에 따라 변경하세요. */
  }

  .mainHome {
    width: 360px;
    height: 437px;
    margin: 40px 0 -45px;
    object-fit: contain;
    content: url("/public/img/mainhome.png");
  }
}
@media screen and (min-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
    background-color: #ffffff;
    min-height: 100vh;
  }
  .mainHome {
    width: 80%; /* 부모 요소에 꽉 차도록 설정 */
    height: auto; /* 이미지 비율 유지 */
    margin: 50px 0 -45px;
    content: url("/public/img/mainhome2.svg");
  }
}
.logo:hover {
  cursor: pointer;
}
