@media screen and (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
    margin: 0;
    background-color: #ffffff; /* 배경색을 추가하거나 필요에 따라 변경하세요. */
  }

  .signin {
    width: 85px;
    height: 27px;
    position: absolute;
    font-family: Inter;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    text-decoration: none;
  }

  .bottombar {
    display: flex; /* 자식 요소들을 가로로 나란히 배치하기 위해 flex 사용 */
    width: 360px; /* 부모 요소의 너비에 따라 자식 요소들을 가로로 나란히 정렬 */
    justify-content: center;
    position: fixed; /* 화면 하단에 고정 */
    bottom: 0; /* 화면 하단에 위치 */
  }

  .leftBottomBar,
  .rightBottomBar {
    flex-grow: 1; /* 각 요소를 동일한 너비로 확장합니다. */
    height: 44px;
    backdrop-filter: blur(4px);
    border: solid 1px #000;
    background-color: #fff;
    display: flex;
    align-items: center; /* 내부 내용을 세로로 가운데 정렬합니다. */
    justify-content: space-evenly;
  }

  .leftBottomBar {
    border-radius: 0 45px 0 0;
    width: 70px;
  }

  .rightBottomBar {
    border-radius: 45px 0 0 0;
  }

  .logo {
    width: 40px;
    height: 40px;
    background-color: #bf2c47;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    border-color: #ffffff00;
    color: white;
  }
  .a {
    text-decoration: none;
  }
  .bottom {
    font-size: 10px;
    color: black;
  }
  .select {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .selectimg {
    width: 20px;
    height: 20px;
  }
}
@media screen and (min-width: 800px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
    background-color: #ffffff;
    min-height: 100vh;
  }

  .signin {
    width: 85px;
    margin: 0 15px 12px; /* 여백 조정 */
    font-family: Inter;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    text-decoration: none;
  }

  .bottombar {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed; /* 화면 하단에 고정 */
    bottom: 0; /* 화면 하단에 위치 */
  }

  .leftBottomBar,
  .rightBottomBar {
    flex-grow: 1; /* 각 요소를 동일한 너비로 확장합니다. */
    height: 44px;
    backdrop-filter: blur(4px);
    border: solid 1px #000;
    background-color: #fff;
    display: flex;
    align-items: center; /* 내부 내용을 세로로 가운데 정렬합니다. */
    justify-content: space-evenly;
  }

  .leftBottomBar {
    border-radius: 0 45px 0 0;
    width: 70px;
  }

  .rightBottomBar {
    border-radius: 45px 0 0 0;
  }

  .logo {
    width: 60px;
    height: 60px;
    background-color: #bf2c47;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    border-color: #ffffff00;
    color: white;
    font-size: 25px;
  }
  .a {
    text-decoration: none;
  }
  .bottom {
    font-size: 10px;
    color: black;
  }
  .select {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .selectimg {
    width: 20px;
    height: 20px;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
      inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -0.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }
  .bd-mode-toggle {
    z-index: 1500;
  }
}
.container {
  margin-top: 15px;
}
.search {
  display: flex;
}
.tag {
  width: 100%;
  margin-top: 30px;
}
.tagButton {
  border-radius: 10px;
  width: 116px;
  border: solid 1px #000000;
  background-color: white;
  color: black;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.titleTags {
  display: flex;
  flex-direction: column;
}

.card-tags {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow-x: auto;
}

.card-tags::-webkit-scrollbar {
  display: none;
}

.tags {
  border-radius: 10%;
  background-color: #bf2c4750;
  margin-right: 3px;
}

.album {
  width: 100%;
}

.writeButton {
  position: fixed; /* 화면 하단에 고정 */
  bottom: calc(5% + 0px);
  right: 5%;
  width: 130px;
  height: 40px;
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
}
.writeButton span {
  position: relative;
  z-index: 1;
}
.writeButton::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #bf2c47;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}
.writeButton:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/* 카드에 마우스 올릴 시 나오는 효과 */
.card.shadow-sm.hidden.party-card {
  /*그림자 효과 추가*/

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease; /*transform 속성에 대한 애니메이션 설정*/
  /*마우스 호버 시 확대 효과*/
  transform-origin: center; /*확대 기준점을 가운데로 설정*/
}

.card.shadow-sm.hidden.party-card:hover {
  transform: scale(1.05); /*1.05배 확대*/
  cursor: pointer;
}
