/* 모바일환경 */
@media screen and (max-width: 800px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center; /* 수직 가운데 정렬 */
    justify-content: center; /* 수평 가운데 정렬 */
    margin: 0;
    background-color: #ffffff; /* 배경색을 추가하거나 필요에 따라 변경하세요. */
  }

  .topBar {
    width: 360px;
    padding: 14px 0 0;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    top: 0;
  }
  .howsParty {
    width: 85px;
    height: 27px;
    margin: 0 165px 12px 15px;
    font-family: Inter;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #bf2c47;
    text-decoration: none;
  }
  .signin {
    width: 85px;
    height: 27px;
    position: absolute;
    font-family: Inter;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    text-decoration: none;
  }
}

/* 웹환경 */
@media screen and (min-width: 800px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 0 0;
    background-color: #ffffff;
    min-height: 100vh;
  }

  .topBar {
    width: 100%;
    padding: 14px 0;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between; /* 양쪽 끝으로 정렬 */
  }
  .howsParty {
    margin: 0 15px 12px; /* 여백 조정 */
    font-family: Inter;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #bf2c47;
    text-decoration: none;
  }
  .signin {
    width: 85px;
    margin: 0 15px 12px; /* 여백 조정 */
    font-family: Inter;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    text-decoration: none;
  }
}

body {
  overflow-x: hidden;
  width: 100%;
}
/* Custom CSS to set a fixed width for buttons */
.btn-primary.maintag {
  width: 70px; /* Adjust the width as needed */
  height: 30px;
  padding: 1px; /* Adjust the padding as needed */
  margin: 1px; /* Add some margin for spacing */
  display: flex; /* Enable flexbox layout */
  align-items: center; /* Vertically center align text */
  justify-content: center; /* Horizontally center align text */
}

/* Custom CSS to adjust font size for long tags */
.small-font {
  font-size: 13px; /* Adjust the font size as needed */
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  /* 가로 스크롤바의 주범 */
  /* margin-right: calc(-0.1 * var(--bs-gutter-x)); */
  margin-right: 0;
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.btn-primary {
  --bs-btn-color: #bf2c47;
  --bs-btn-bg: #ffffff;
  --bs-btn-border-color: #bf2c47;
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: #bf2c47;
  --bs-btn-hover-border-color: #bf2c47;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #7b0000;
  --bs-btn-active-border-color: #7b0000;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #424242;
  --bs-btn-disabled-border-color: #424242;
}

.small {
  border-radius: 10%;
  border: none;
  background-color: rgba(172, 172, 172, 0.281);
}

.selected-tags {
  background-color: #bf2c47;
  color: #ffffff;
}
.selected-amenities {
  background-color: #bf2c47;
  color: #ffffff;
}

#submit {
  width: 100%;
  background-color: #bf2c47;
  color: #ffffff;
}
.form-control.is-invalid,
.was-validated .form-control:invalid {
  background-image: none;
}

.tags {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  overflow-x: auto;
}

.tag {
  border-radius: 10%;
  background-color: #bf2c4750;
  margin-right: 3px;
}
