body {
  margin: 0;
  background-color: rgba(
    217,
    217,
    217,
    0.3
  ); /* 배경색을 추가하거나 필요에 따라 변경하세요. */
}
@media screen and (max-width: 800px) {
  body {
    margin: 0;
    background-color: #fff; /* 배경색을 추가하거나 필요에 따라 변경하세요. */
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container > form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 0.3);
  }
  .preview {
    max-width: 200px;
    max-height: 200px;
    margin-top: 20px;
  }
  .ImgButton {
    text-align: center;
    color: #fff;
    border-radius: 5px;
    transition: all 0.2s;
    background-color: #c94040;
    border: 0px;
    position: absolute;
    left: 47%;
  }
  .ImgButton:hover {
    background-color: #791a2c;
    cursor: pointer;
  }
  #profile2_title {
    width: 110px;
    height: 24px;
    margin: 40px 143px 26px;
    font-family: Inter;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }
  .top {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
  }
  @media screen and (max-width: 800px) {
    .top {
      width: 270px;
    }
  }
  .nameBox {
    width: 100%;
    padding: 15px 15px 15px 15px;
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
    background-color: rgba(217, 217, 217, 0.5);
    display: flex;
  }
  .top .name {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
    margin-left: 10px;
  }

  .birthBox {
    padding-left: 30px; /* 이미지의 가로 크기에 맞게 조절 */
    width: 100%;
    padding: 15px 15px 15px 15px;
    border-bottom: 0;
    background-color: rgba(217, 217, 217, 0.5);
    color: gray;
    display: flex;
  }

  .top .birth {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
    margin-left: 10px;
    font-weight: bold;
  }

  .top .gender input[type="radio"] {
    display: none;
  }
  .top .gender {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 15px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0;
    background-color: rgba(217, 217, 217, 0.5);
  }
  .top .gender input[type="radio"] + label {
    width: 100%;
    display: block;
    text-align: center;
    padding: 3px;
  }

  .top .gender label {
    background-color: lightgray;
  }
  .top .gender #manLabel {
    border-radius: 10px 0 0 10px;

    border-right: solid 1px black;
  }
  .top .gender #womanLabel {
    border-radius: 0 10px 10px 0;
  }
  .man-selected {
    color: #c94040; /* 남자 선택 시 배경색상 */
  }
  .woman-selected {
    color: #c94040; /* 여자 선택 시 배경색상 */
  }
  .phoneBox {
    padding-left: 30px; /* 이미지의 가로 크기에 맞게 조절 */
    width: 100%;
    margin: 0 39px 0 39px;
    padding: 15px 15px 15px 15px;
    border-radius: 0;
    background-color: rgba(217, 217, 217, 0.5);
    display: flex;
    border-bottom: 0;
  }

  .top .phoneNumber {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
    margin-left: 10px;
  }
  .emailBox {
    padding-left: 30px; /* 이미지의 가로 크기에 맞게 조절 */
    width: 100%;
    margin: 0 39px 0 39px;
    padding: 15px 15px 15px 15px;
    border-radius: 0;
    background-color: rgba(217, 217, 217, 0.5);
    display: flex;
    border-bottom: 0;
  }
  .emailImg {
    width: 15px;
  }
  .top .email {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
    margin-left: 10px;
  }
  .nextButton {
    width: 50%;
    flex-grow: 0;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    border: solid 1px #fff;
    background-color: #c94040;
    color: white;
    font-size: 12px;
  }
  .nextButton:hover {
    background-color: #791a2c;
    cursor: pointer;
  }

  .selectedAddress {
    padding-left: 30px; /* 이미지의 가로 크기에 맞게 조절 */
    width: 100%;
    margin: 0 39px 0 39px;
    padding: 15px 15px 15px 15px;
    border-radius: 0 0 10px 10px;
    background-color: rgba(217, 217, 217, 0.5);
    display: flex;
  }
  .top .displayAddress {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
    margin-left: 10px;
  }
  .addressImg {
    width: 15px;
  }
  .popupButton {
    width: 60px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    transition: all 0.2s;
    background-color: #c94040;
    border: 0px;
  }
  .popupButton:hover {
    background-color: #791a2c;
  }
  /* 팝업 관련 css */

  /* 팝업 스타일 */
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .popup-content {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  .buttons {
    width: 70%;
    display: flex;
    margin-top: 20px;
  }
}

@media screen and (min-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container > form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
    border-radius: 10px;
    background-color: #fff;
  }
  .preview {
    max-width: 300px;
    max-height: 300px;
    margin-left: 50px;
    border-radius: 10px;
  }
  .ImgButton {
    text-align: center;
    color: #fff;
    border-radius: 5px;
    transition: all 0.2s;
    background-color: #c94040;
    border: 0px;
    position: absolute;
    left: 47%;
  }
  .ImgButton:hover {
    background-color: #791a2c;
    cursor: pointer;
  }
  #profile2_title {
    width: 110px;
    height: 24px;
    margin: 40px 143px 26px;
    font-family: Inter;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 30px 50px 30px;
  }
  .nameBox {
    width: 100%;
    padding: 15px 15px 15px 15px;
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
    background-color: rgba(217, 217, 217, 0.5);
    display: flex;
  }
  .top .name {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
    margin-left: 10px;
  }

  .birthBox {
    padding-left: 30px; /* 이미지의 가로 크기에 맞게 조절 */
    width: 100%;
    padding: 15px 15px 15px 15px;
    border-bottom: 0;
    background-color: rgba(217, 217, 217, 0.5);
    color: gray;
    display: flex;
  }

  .top .birth {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
    margin-left: 10px;
    font-weight: bold;
  }

  .top .gender input[type="radio"] {
    display: none;
  }
  .top .gender {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 15px;
    padding: 15px 15px 15px 15px;

    border-bottom: 0;
    background-color: rgba(217, 217, 217, 0.5);
  }
  .top .gender input[type="radio"] + label {
    width: 100%;
    display: block;
    text-align: center;
    padding: 3px;
  }

  .top .gender label {
    background-color: lightgray;
  }
  .top .gender #manLabel {
    border-radius: 10px 0 0 10px;

    border-right: solid 1px black;
  }
  .top .gender #womanLabel {
    border-radius: 0 10px 10px 0;
  }
  .man-selected {
    color: #c94040; /* 남자 선택 시 배경색상 */
  }
  .woman-selected {
    color: #c94040; /* 여자 선택 시 배경색상 */
  }
  .phoneBox {
    padding-left: 30px; /* 이미지의 가로 크기에 맞게 조절 */
    width: 100%;
    margin: 0 39px 0 39px;
    padding: 15px 15px 15px 15px;
    border-radius: 0;
    background-color: rgba(217, 217, 217, 0.5);
    display: flex;
    border-bottom: 0;
  }

  .top .phoneNumber {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
    margin-left: 10px;
  }
  .emailBox {
    padding-left: 30px; /* 이미지의 가로 크기에 맞게 조절 */
    width: 100%;
    margin: 0 39px 0 39px;
    padding: 15px 15px 15px 15px;
    border-radius: 0;
    background-color: rgba(217, 217, 217, 0.5);
    display: flex;
    border-bottom: 0;
  }
  .emailImg {
    width: 15px;
  }
  .top .email {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
    margin-left: 10px;
  }
  .nextButton {
    width: 200px;
    flex-grow: 0;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    border: solid 1px #fff;
    background-color: #c94040;
    color: white;
  }
  .nextButton:hover {
    background-color: #791a2c;
    cursor: pointer;
  }
  .buttons {
    flex-direction: row;
    width: 60%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  .selectedAddress {
    padding-left: 30px; /* 이미지의 가로 크기에 맞게 조절 */
    width: 100%;
    margin: 0 39px 0 39px;
    padding: 15px 15px 15px 15px;
    border-radius: 0 0 10px 10px;
    background-color: rgba(217, 217, 217, 0.5);
    display: flex;
  }
  .top .displayAddress {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
    margin-left: 10px;
  }
  .addressImg {
    width: 15px;
  }
  .popupButton {
    width: 60px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    transition: all 0.2s;
    background-color: #c94040;
    border: 0px;
  }
  .popupButton:hover {
    background-color: #791a2c;
  }
  /* 팝업 관련 css */

  /* 팝업 스타일 */
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .popup-content {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
}
img {
  margin-right: 15px;
}
