@media screen and (max-width: 800px) {
  body {
    margin: 0;
    background-color: #fff; /* 배경색을 추가하거나 필요에 따라 변경하세요. */
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container > form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 500px;
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 0.3);
  }

  .container .left {
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .ImgButton {
    text-align: center;
    color: #fff;
    border-radius: 5px;
    transition: all 0.2s;
    background-color: #c94040;
    border: 0px;
  }
  .ImgButton:hover {
    background-color: #791a2c;
  }

  #signup1_title {
    width: 80px;
    height: 24px;
    margin: 80px 143px 26px;
    font-family: Inter;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }

  .top {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
  }
  @media screen and (max-width: 800px) {
    .top {
      width: 270px;
    }
  }

  .idBox {
    width: 100%;
    padding: 15px 15px 15px 15px;
    border-radius: 10px 10px 0 0;

    border-bottom: 0;
    background-color: rgba(217, 217, 217, 0.5);
    display: flex;
  }

  .top .id {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
  }
  .pwBox {
    width: 100%;
    padding: 15px 15px 15px 15px;

    background-color: rgba(217, 217, 217, 0.5);
    border-bottom: 0;
    display: flex;
  }
  .top .pw {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
  }

  .pwCheckBox {
    width: 100%;
    padding: 15px 15px 15px 15px;
    border-radius: 0 0 10px 10px;

    background-color: rgba(217, 217, 217, 0.5);
    display: flex;
  }

  .top .pwCheck {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
  }
  .nameBox {
    width: 100%;
    padding: 15px 15px 15px 15px;
    border-radius: 10px 10px 0 0;

    border-bottom: 0;
    background-color: rgba(217, 217, 217, 0.5);
    display: flex;
  }
  .bottom .name {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
  }

  .birthBox {
    padding-left: 30px; /* 이미지의 가로 크기에 맞게 조절 */
    width: 100%;
    padding: 15px 15px 15px 15px;

    border-bottom: 0;
    background-color: rgba(217, 217, 217, 0.5);
    color: gray;
    display: flex;
  }

  .bottom .birth {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
  }

  .bottom .gender input[type="radio"] {
    display: none;
  }
  .bottom .gender {
    display: flex;
    justify-content: center;
    width: 100%;

    font-size: 15px;
    padding: 15px 15px 15px 15px;

    border-bottom: 0;
    background-color: rgba(217, 217, 217, 0.5);
  }
  .bottom .gender input[type="radio"] + label {
    width: 100%;
    display: block;
    text-align: center;
    padding: 3px;
  }

  .bottom .gender label {
    background-color: lightgray;
  }
  .bottom .gender #manLabel {
    border-radius: 10px 0 0 10px;

    border-right: solid 1px black;
  }
  .bottom .gender #womanLabel {
    border-radius: 0 10px 10px 0;
  }
  #manLabel:hover {
    cursor: pointer;
  }
  .man-selected {
    color: #c94040; /* 남자 선택 시 배경색상 */
  }
  .woman-selected {
    color: #c94040; /* 여자 선택 시 배경색상 */
  }
  #womanLabel:hover {
    cursor: pointer;
  }
  .phoneBox {
    padding-left: 30px; /* 이미지의 가로 크기에 맞게 조절 */
    width: 100%;
    margin: 0 39px 0 39px;
    padding: 15px 15px 15px 15px;
    border-radius: 0;

    background-color: rgba(217, 217, 217, 0.5);
    display: flex;
    border-bottom: 0;
  }

  .bottom .phoneNumber {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
  }
  .emailBox {
    padding-left: 30px; /* 이미지의 가로 크기에 맞게 조절 */
    padding: 12px 5px 12px 15px;
    width: 100%;

    border-bottom: 0;
    background-color: rgba(217, 217, 217, 0.5);
    color: gray;
    display: flex;
  }
  .emailImg {
    width: 15px;
  }
  .bottom .email {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
  }
  .emailsubmit {
    width: 60px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    transition: all 0.2s;
    background-color: #c94040;
    border: 0px;
  }
  .emailsubmit:hover {
    background-color: #791a2c;
  }
  .emailCheckBox {
    padding-left: 30px; /* 이미지의 가로 크기에 맞게 조절 */
    padding: 12px 5px 12px 15px;
    width: 100%;

    border-bottom: 0;
    background-color: rgba(217, 217, 217, 0.5);
    color: gray;
    display: flex;
  }
  .emailCheckImg {
    width: 15px;
  }
  .bottom .emailCheck {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
  }

  .emailCheckSubmit {
    width: 60px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    transition: all 0.2s;
    background-color: #c94040;
    border: 0px;
  }
  .emailCheckSubmit:hover {
    background-color: #791a2c;
  }

  .selectedAddress {
    padding-left: 30px; /* 이미지의 가로 크기에 맞게 조절 */
    padding: 12px 5px 12px 15px;
    width: 100%;

    background-color: rgba(217, 217, 217, 0.5);
    color: gray;
    display: flex;
    border-radius: 0px 0px 10px 10px;
  }
  .bottom .displayAddress {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
  }
  .addressImg {
    width: 15px;
  }
  .popupButton {
    width: 60px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    transition: all 0.2s;
    background-color: #c94040;
    border: 0px;
  }
  .popupButton:hover {
    background-color: #791a2c;
  }
  @media screen and (max-width: 800px) {
    .bottom {
      width: 270px;
    }
  }
  .nextButton {
    margin-top: 15px;
    width: 300px;
    flex-grow: 0;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    border: solid 1px #fff;
    background-color: #c94040;
    color: white;
  }
  .nextButton:hover {
    background-color: #791a2c;
  }
  /* 파일 선택 */
  #inputGroupFileAddon04 {
    width: 300px;
  }

  /* 팝업 관련 css */

  /* 팝업 스타일 */
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .popup-content {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  /* 이미지 업로드 */
  /* 동그란 버튼 스타일 */
  .round-button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3498db;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    overflow: hidden;
  }

  /* 파일 입력 필드를 감추기 위한 스타일 */
  #fileInput {
    display: none;
  }

  /* 이미지 미리보기 */
  #imagePreview {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  #preview {
    margin-top: 20px;
    max-width: 200px;
    max-height: 200px;
  }
}

@media screen and (min-width: 800px) {
  body {
    background-color: rgba(
      217,
      217,
      217,
      0.3
    ); /* 배경색을 추가하거나 필요에 따라 변경하세요. */
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container > form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
  }
  .container .left {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  .ImgButton {
    text-align: center;
    color: #fff;
    border-radius: 5px;
    transition: all 0.2s;
    background-color: #c94040;
    border: 0px;
  }
  .ImgButton:hover {
    background-color: #791a2c;
  }

  #signup1_title {
    width: 80px;
    height: 24px;
    margin: 80px 143px 26px;
    font-family: Inter;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
  }

  .top {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
  }
  @media screen and (max-width: 800px) {
    .top {
      width: 270px;
    }
  }

  .idBox {
    width: 100%;
    padding: 15px 15px 15px 15px;
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
    background-color: rgba(217, 217, 217, 0.5);
    display: flex;
  }

  .top .id {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
  }
  .pwBox {
    width: 100%;
    padding: 15px 15px 15px 15px;
    background-color: rgba(217, 217, 217, 0.5);
    border-bottom: 0;
    display: flex;
  }
  .top .pw {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
  }

  .pwCheckBox {
    width: 100%;
    padding: 15px 15px 15px 15px;
    border-radius: 0 0 10px 10px;
    background-color: rgba(217, 217, 217, 0.5);
    display: flex;
  }

  .top .pwCheck {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 60%;
    margin-left: 25px;
    margin-top: 30px;
  }
  .nameBox {
    width: 100%;
    padding: 15px 15px 15px 15px;
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
    background-color: rgba(217, 217, 217, 0.5);
    display: flex;
  }
  .bottom .name {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
  }

  .birthBox {
    padding-left: 30px; /* 이미지의 가로 크기에 맞게 조절 */
    width: 100%;
    padding: 15px 15px 15px 15px;
    border-bottom: 0;
    background-color: rgba(217, 217, 217, 0.5);
    color: gray;
    display: flex;
  }

  .bottom .birth {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
  }

  .bottom .gender input[type="radio"] {
    display: none;
  }
  .bottom .gender {
    display: flex;
    justify-content: center;
    width: 100%;

    font-size: 15px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0;
    background-color: rgba(217, 217, 217, 0.5);
  }
  .bottom .gender input[type="radio"] + label {
    width: 100%;
    display: block;
    text-align: center;
    padding: 3px;
  }

  .bottom .gender label {
    background-color: lightgray;
  }
  .bottom .gender #manLabel {
    border-radius: 10px 0 0 10px;

    border-right: solid 1px black;
  }
  .bottom .gender #womanLabel {
    border-radius: 0 10px 10px 0;
  }
  #manLabel:hover {
    cursor: pointer;
  }
  .man-selected {
    color: #c94040; /* 남자 선택 시 배경색상 */
  }
  .woman-selected {
    color: #c94040; /* 여자 선택 시 배경색상 */
  }
  #womanLabel:hover {
    cursor: pointer;
  }
  .phoneBox {
    padding-left: 30px; /* 이미지의 가로 크기에 맞게 조절 */
    width: 100%;
    margin: 0 39px 0 39px;
    padding: 15px 15px 15px 15px;
    border-radius: 0;
    background-color: rgba(217, 217, 217, 0.5);
    display: flex;
    border-bottom: 0;
  }

  .bottom .phoneNumber {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
  }
  .emailBox {
    padding-left: 30px; /* 이미지의 가로 크기에 맞게 조절 */
    padding: 12px 5px 12px 15px;
    width: 100%;
    border-bottom: 0;
    background-color: rgba(217, 217, 217, 0.5);
    color: gray;
    display: flex;
  }
  .emailImg {
    width: 15px;
  }
  .bottom .email {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
  }
  .emailsubmit {
    width: 60px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    transition: all 0.2s;
    background-color: #c94040;
    border: 0px;
  }
  .emailsubmit:hover {
    background-color: #791a2c;
  }
  .emailCheckBox {
    padding-left: 30px; /* 이미지의 가로 크기에 맞게 조절 */
    padding: 12px 5px 12px 15px;
    width: 100%;
    border-bottom: 0;
    background-color: rgba(217, 217, 217, 0.5);
    color: gray;
    display: flex;
  }
  .emailCheckImg {
    width: 15px;
  }
  .bottom .emailCheck {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
  }

  .emailCheckSubmit {
    width: 60px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    transition: all 0.2s;
    background-color: #c94040;
    border: 0px;
  }
  .emailCheckSubmit:hover {
    background-color: #791a2c;
  }

  .selectedAddress {
    padding-left: 30px; /* 이미지의 가로 크기에 맞게 조절 */
    padding: 12px 5px 12px 15px;
    width: 100%;
    background-color: rgba(217, 217, 217, 0.5);
    color: gray;
    display: flex;
    border-radius: 0px 0px 10px 10px;
  }
  .bottom .displayAddress {
    border: 0;
    background-color: rgb(217 217 217 / 0%);
    width: 100%;
  }
  .addressImg {
    width: 15px;
  }
  .popupButton {
    width: 60px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    transition: all 0.2s;
    background-color: #c94040;
    border: 0px;
  }
  .popupButton:hover {
    background-color: #791a2c;
  }
  @media screen and (max-width: 800px) {
    .bottom {
      width: 270px;
    }
  }
  .nextButton {
    width: 300px;
    flex-grow: 0;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    border: solid 1px #fff;
    background-color: #c94040;
    color: white;
    margin-top: 15px;
  }
  .nextButton:hover {
    background-color: #791a2c;
  }
  /* 파일 선택 */
  #inputGroupFileAddon04 {
    width: 300px;
  }

  /* 팝업 관련 css */

  /* 팝업 스타일 */
  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .popup-content {
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  /* 이미지 업로드 */
  /* 동그란 버튼 스타일 */
  .round-button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #3498db;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    overflow: hidden;
  }

  /* 파일 입력 필드를 감추기 위한 스타일 */
  #fileInput {
    display: none;
  }

  /* 이미지 미리보기 */
  #imagePreview {
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  #preview {
    max-width: 150px;
    max-height: 104px;
  }
}
img {
  margin-right: 15px;
}
