<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/static/topBar.css" />
    <link rel="stylesheet" href="/public/css/static/resetTag.css" />
  </head>
  <body>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const loginBar = document.querySelector(".loginOrLogoutBtn");
        const loginCheck = sessionStorage.getItem("token");
        if (loginCheck) {
          const logoutButton = document.createElement("a");
          logoutButton.href = "#"; //클릭시 logout함수 호출
          logoutButton.textContent = "로그아웃";
          logoutButton.classList.add("logout");
          loginBar.appendChild(logoutButton);
          logoutButton.addEventListener("click", logout);
        } else {
          const logintButton = document.createElement("a");
          logintButton.href = "/signin";
          logintButton.textContent = "로그인";
          logintButton.classList.add("signin");
          loginBar.appendChild(logintButton);
        }
        function logout() {
          sessionStorage.removeItem("token");
          window.location.href = "/main";
        }
      });
    </script>
    <div class="topBarBg">
      <div class="topBar">
        <p><a class="howsParty" href="/main"> How's Party </a></p>
        <div class="topBar-right">
          <p>
            <a href="/parties"
              ><img src="../../public/img/parties.svg" alt="" /><b
                >파티목록</b
              ></a
            >
          </p>
          <p>
            <a href="/chat"
              ><img src="../../public/img/chat.svg" alt="" /><b>채팅</b></a
            >
          </p>
          <p>
            <a href="/profile"
              ><img src="../../public/img/user.svg" alt="" /><b
                >마이페이지</b
              ></a
            >
          </p>
          <p class="loginOrLogoutBtn"></p>
        </div>
      </div>
    </div>
  </body>
</html>
