<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/static/topBar.css" />
  </head>
  <body>
    <div class="topBar">
      <a class="howsParty" href="/main"> How's Party </a
      ><a class="signin" href="/signin">login</a>
    </div>
  </body>
</html>
