.topBar {
  width: 360px;
  padding: 14px 0 0;
  background-color: #fff;
  position: fixed;
  z-index: 1000;
  top: 0;
}
.howsParty {
  width: 85px;
  height: 27px;
  margin: 0 165px 12px 15px;
  font-family: Inter;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #bf2c47;
  text-decoration: none;
}
.signin {
  width: 85px;
  height: 27px;
  font-family: Inter;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  text-decoration: none;
}
@media screen and (min-width: 800px) {
  .topBar {
    width: 100%;
    padding: 14px 0;
    background-color: #fff;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between; /* 양쪽 끝으로 정렬 */
  }
  .howsParty {
    margin: 0 15px 12px; /* 여백 조정 */
    font-family: Inter;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #bf2c47;
    text-decoration: none;
  }
  .signin {
    width: 85px;
    margin: 0 15px 12px; /* 여백 조정 */
    font-family: Inter;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    text-decoration: none;
  }
}
